<div class="register-container">
  <h2>Register</h2>
  <label for="id">ID:</label>
  <input type="text" id="id" [(ngModel)]="id">
  <br>
  <label for="password">Password:</label>
  <input type="password" id="password" [(ngModel)]="password">
  <br>
  <label for="accountType">Account Type:</label>
  <select id="accountType" [(ngModel)]="accountType">
    <option value="student">Student</option>
    <option value="teacher">Teacher</option>
  </select>
  <br>
  <button (click)="register()">Register</button>
  <div *ngIf="registerMessage" class="register-message">{{ registerMessage }}</div>
</div>
<div class="return-button">
  <button (click)="logout()">Return</button>
</div>